---
import { Image } from 'astro:assets'

import avatarArtyom from '@/shared/assets/avatar-artyom.jpg'
import avatarDanil from '@/shared/assets/avatar-danil.jpg'
import avatarGosha from '@/shared/assets/avatar-grigory.jpg'

import { getLangFromUrl, useTranslations } from '@/shared/i18n'

type PostType = {
  comment: string
  author: {
    name: string
    post: string
    imageData: ImageMetadata
  }
}

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const posts: PostType[] = [
  {
    comment: t('home.commentDanil'),
    author: {
      name: 'Danil Aleksandrov (BaggerFast)',
      post: `${t('home.postFounder')} / ${t('home.postBackend')}`,
      imageData: avatarDanil,
    },
  },
  {
    comment: t('home.commentArtyom'),
    author: {
      name: 'Artyom Vlasov (Ap73MKa)',
      post: `${t('home.postCoFounder')} / ${t('home.postFullstack')}`,
      imageData: avatarArtyom,
    },
  },
  {
    comment: t('home.commentGregory'),
    author: {
      name: 'Georgy Gusev',
      post: `${t('home.postBackend')}`,
      imageData: avatarGosha,
    },
  },
]
---

<ul class="mx-auto mt-12 grid max-w-lg gap-5 lg:max-w-none lg:grid-cols-3">
  {
    posts.map((post) => (
      <li class="flex flex-col overflow-hidden rounded-lg shadow-lg">
        <div class="flex flex-1 flex-col justify-between bg-stone-50 p-6">
          <div class="flex items-center">
            <div class="shrink-0">
              <span class="sr-only">{post.author.name}</span>
              <Image
                class="h-14 w-14 rounded-full"
                src={post.author.imageData}
                alt=""
              />
            </div>
            <div class="ml-3">
              <h2 class="line-clamp-1 font-semibold text-gray-900">
                {post.author.name}
              </h2>
              <h5 class="line-clamp-1 text-sm text-gray-500">
                {post.author.post}
              </h5>
            </div>
          </div>
          <div class="flex-1">
            <h3 class="mt-4 text-gray-900 lg:text-lg">{post.comment}</h3>
          </div>
        </div>
      </li>
    ))
  }
</ul>
